// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  font-family: $raleway;
  background-color: white;

  a {
    text-decoration: none;
  }

  a.btn {
    font-size: 1em;
    letter-spacing: .05em;
    padding: .55em 1.3em;
    border: none;
    border-radius: 2em;
    background: white;
  }

  section {
    min-height: 100vh;
  }
}
