// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  font-family: $raleway;
  background-color: white;

  a {
    text-decoration: none;
  }
}
