@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:300,400,700');

// Color

// Fonts
$abril: 'Abril Fatface', cursive;
$raleway: 'Raleway', sans-serif;

// Size
$mobile-small: 350px;
$mobile: 480px;
$tablet: 758px;
$laptop: 1024px;
$laptop-large: 1440px;
