#home .uk-section {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://source.unsplash.com/collection/805608/1920);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://source.unsplash.com/collection/805608/1920);
}
#home h1,
#home h2,
#home h3 {
  color: white;
}

.uk-link-success {
  color: #1e87f0 !important;
}

.uk-navbar-nav {
  display: none;
}

.nopadding {
  padding: 0 0 0 15pxs;
}

.map {
  position: relative;
  padding-bottom: 85%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media all and (min-width: 640px) {
  .uk-navbar-toggle {
    display: none;
  }

  .uk-navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media all and (max-width: 350px) {
  .nopadding {
    font-size: 1.4em;
  }
}
