/* RESPONSIVE */
@media screen and (max-width: $laptop-large) {
  header {
    .header-wrapper {
      h1 {
        font-size: calc(5em + 1vw);
      }
      h4 {
        font-size: 1.5em;
      }
    }
  }

  #faq {
    .faq-header {
      h1 {
        margin-bottom: -0.4em;
        font-size: 14em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  header {
    .header-wrapper {
      h1 {
        font-size: calc(4em + 1vw);
      }
      h4 {
        font-size: 1.25em;
      }
      button,
      .btn-register {
        font-size: 1.35em;
      }
    }
  }

  nav {
    font-size: 0.85em;
  }

  #faq {
    .faq-header {
      h1 {
        margin-bottom: -0.39em;
        font-size: 11em;
      }
      h2 {
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .ghost-nav {
    height: 62;
  }

  header {
    .header-wrapper {
      h1 {
        font-size: calc(3.5em + 1vw);
      }
    }
  }

  nav {
    padding: 0 2.5em;

    .nav-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 62px;

      svg {
        width: 46px;
        height: 42px;
      }
      .logo {
        display: none;
      }
      .nav-list {
        display: none;
      }
      .menu {
        margin-left: auto;
      }
    }
  }

  #faq {
    .faq-header {
      h1 {
        margin-bottom: -0.38em;
        font-size: 9em;
      }
      h2 {
        font-size: 1.75em;
      }
    }
    .card-wrapper {

      font-size: .95em;
      .card {
        margin: 2em 0;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  header {
    .header-wrapper {
      h1 {
        font-size: 3em;
      }
    }
  }

  nav {
    .nav-wrapper {
      svg {
        width: 34px;
        height: 32px;
      }
    }
  }

  #faq {
    .faq-header {
      h1 {
        margin-bottom: -0.38em;
        font-size: 8em;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
}

@media screen and (max-width: $mobile-small) {
  header {
    .header-wrapper {
      h1 {
        font-size: 2.5em;
      }
      h4 {
        font-size: 1.1em;
      }
    }
  }
  nav {
    padding: 0 1.5em;
  }
}
