#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  .about-info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    text-align: center;

    p {
      padding: 1em 0;
      font-size: 1.75em;
      line-height: 1.5em;
    }
  }

  .about-img img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }

  .about-img {
    display: flex;
    align-items: center;
  }
}
