footer {
  background: black;
  text-align: center;
  padding: 2em 0;
  color: rgba(white, .5);
  background: linear-gradient(rgba(black, 0.7), rgba(black, 0.7)), $header-bg-img no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  .heart {
    color: rgba(white, .8);
  }

  a {
    color: rgba(white, .5);

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  p:nth-of-type(1) {
    padding: 1em 0;
  }
}
