header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: $header-bg-grd, $header-bg-url;
  background-size: cover;
  background-attachment: fixed;

  .header-title {
    width: 100%;
    color: white;

    h1 {
      font-size: 4.5em;
      font-family: $merriweather;
      letter-spacing: 2px;
    }
    p {
      font-size: 1.75em;
      letter-spacing: .7px;
      margin: 2.5rem 0;
    }
    a.btn-register {
      font-size: 1.25em;
      color: white;
      background-image: linear-gradient(to right,$blue 0, lighten($blue, 1%) 90%);
      box-shadow: rgba(black, .1) 0 3px 5px 0;
      transition: all 300ms ease-in-out;

      &:hover {
        box-shadow: rgba(black, .1) 0 5px 15px 0;
        background-image: linear-gradient(to right,$yellow 0, lighten($yellow, 1%) 90%);
      }
    }
  }
}
