nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 0 1.5em;
  transition: $transition;

  .nav-wrapper {
    display: flex;
    align-items: center;
    max-width: $laptop-large;
    width: 100%;
    height: 68px;
    margin: 0 auto;

    svg {
      width: 34px;
      height: 32px;
      margin-right: 0.65em;

      path {
        fill: white;
        transition: fill 300ms ease-in-out;
      }
    }

    .logo {
      color: white;
      font-size: 2.25em;
      font-weight: 700;
      cursor: pointer;
      transition: $transition;
    }

    a {
      color: white;
      font-size: 1.25em;
      font-weight: 300;
      padding: 0.35em 0.4em;
      margin: 0 0 0 0.3em;
      position: relative;
      transition: $transition;

      &:hover {
        color: lighten(black, 50%);
      }
    }

    .nav-list {
      margin-left: auto;
    }
  }
  // Hamburger
  .overlay {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: black;
    z-index: 5;
    visibility: hidden;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    &.active {
      opacity: 0.95;
      visibility: visible;
      height: 100%;
      font-size: 1.7em;

      .overlay-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.25em;

        a {
          padding: 0.25em 0;

          &:hover {
            color: $color-blue;
          }
        }
      }
    }
  }

  .menu {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    padding-left: auto;

    &.active {
      z-index: 10;
    }
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .cross,
  .hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hamburger span {
    display: block;
    width: 36px;
    height: 4px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }

  .hamburger span:after,
  .hamburger span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-200%);
    transition: transform ease 300ms;
  }

  .hamburger span:after {
    transform: translateX(0);
  }

  .hamburger span:nth-child(2):after,
  .hamburger span:nth-child(2):before {
    transition-delay: 75ms;
  }

  .hamburger span:last-child:after,
  .hamburger span:last-child:before {
    transition-delay: 150ms;
  }

  .menu:hover .hamburger span {
    &:before {
      transform: translateX(0);
    }

    &:after {
      transform: translateX(200%);
    }
  }

  .menu.active .hamburger span {
    &:before {
      transform: translateX(100%);
    }

    &:after {
      transform: translateX(200%);
    }
  }

  .cross span {
    display: block;
    width: 36px;
    height: 4px;
    background-color: white;
    transform: translateY(50%) rotate(45deg) scaleX(0);
    transition: transform ease 200ms;

    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(0);
    }
  }

  .menu.active .cross span {
    transition-delay: 450ms;
    transform: translateY(50%) rotate(45deg) scaleX(1);

    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(1);
    }
  }
  // Fixed Nav
  &.fixed {
    background-color: rgba(white, 1);
    box-shadow: rgba(62, 57, 107, 0.09) 0 10px 40px 0;

    .nav-wrapper {
      svg {
        path {
          fill: $color-blue;
        }
      }

      .logo {
        color: $color-blue;

        &:hover {
          color: $color-blue;
        }
      }

      a {
        color: lighten(black, 20%);

        &:hover {
          color: rgba($color-blue, 1);
        }
      }

      .overlay-content > a {
        color: white;
      }
    }

    .hamburger span:after,
    .hamburger span:before {
      background-color: $color-blue;
    }
  }
}
